<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Error</title>
</head>
<body style="background-color: rgb(196, 91, 91);">
    <div class="main-content" >
        <h2>Opp's {{title}} Error</h2>
        <h3>{{errorMessage}} </h3>
    </div>
    <footer>{{>footer}}</footer>
</body>
</html>